.containerHero {
  margin: 0 auto;
}

.containerUnlock {
  background-color: #f8f8f8;
  border-radius: 30px;
  padding: 24px;

  margin-bottom: 16px;
}

.title {
  font-weight: 500;
  font-size: 32px;
  line-height: 1.16667;
  letter-spacing: -0.02em;
  color: #121417;

  margin-bottom: 16px;
}

.spanLanguage {
  background-color: #cbded3;
  border-radius: 8px;

  font-style: italic;
  font-weight: 400;
}

.text {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.375;
  letter-spacing: -0.02em;
  color: #121417;

  margin-bottom: 16px;
}

.button {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.55556;
  color: #121417;

  border-radius: 12px;
  border: none;
  padding: 12px 24px;

  background-color: #9fbaae;
}
/***************************** Img ********************************/
.containerImg {
  background-color: #cbded3;
  border-radius: 30px;
  padding: 24px;

  height: 288px;

  background-image: url('../../helpers/mac.png'), url('../../helpers/girl.png');
  background-repeat: no-repeat;
  background-size: 220px, 220px, cover;
  background-position: center bottom, center 50%;

  margin-bottom: 16px;
}
/***************************** List ******************************/
.containerList {
  border: 1.5px dashed #9fbaae;
  border-radius: 30px;
  padding: 24px;
}

.list {
  display: flex;
  flex-direction: column;

  gap: 16px;
}

.itemList {
  display: flex;
  align-items: flex-start;
  column-gap: 16px;
}

.textList {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.14286;
  letter-spacing: -0.02em;
  color: #121417;
}

.spanList {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.02em;
  color: rgba(18, 20, 23, 0.7);

  margin-left: auto;
}

@media screen and (min-width: 768px) {
  .containerHero {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    column-gap: 16px;
  }

  .containerImg {
    width: 45%;
  }

  .containerList {
    height: 288px;
    width: 35%;
  }

  .list {
    width: 100%;
    height: 100%;
    justify-content: center;
  }
}

@media screen and (min-width: 1440px) {
  .containerUnlock {
    max-width: 632px;
    height: 482px;
    padding-left: 64px;
  }

  .containerUnlockText {
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .title {
    font-size: 48px;
    margin-bottom: 32px;
  }

  .text {
    font-size: 16px;
    margin-bottom: 64px;
    max-width: 471px;
  }

  .button {
    font-size: 18px;
    width: 267px;
  }

  .containerImg {
    background-size: 359px, 339px, cover;
    max-width: 520px;
    height: 482px;
  }

  .containerList {
    width: 100%;
    height: 24px;
  }

  .list {
    flex-direction: row;
    align-items: center;
    column-gap: 100px;
  }

  .textList {
    font-size: 28px;
  }
  .spanList {
    width: 74px;
    font-size: 14px;
  }
}
